body {
  background-color: rgb(122, 156, 207);  /*dit is je hoofdkleur van je pagina*/
}

h1 {
  color: rgb(62, 67, 77);
  text-align: center; /* dit is je tekstkleur bij h1*/
}



p {
  font-family: verdana;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000; /*dit is je kleur van je ul lijsten*/
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(122, 156, 207);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /* dit is je kleur van de ul lijst*/
}

ul li a:hover {
  background-color: #393535; /* deze kleur krijg je als je over je ul gaat met je muis*/
}
img {
  display: block; /* dit is om je plaatje in het midden te zetten*/
  margin: auto;
  width: 20%; /* dit is om je plaatje groter of kleiner te krijgen*/
}

img {
  border-radius: 12px; /*dit is om je randjes van je plaatje rond te krijgen*/
}